.header {
  padding: 68px 0 105px;
  background: url(../img/bghead.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 306px;
  }

  &__logo {
    margin-right: 119px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__social {
    margin-bottom: 218px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__link {
    color: #fff;
    font-size: 20px;
  }

  &__info {
    max-width: 652px;

  }

  &__info-text {
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;

  }

  &__info-title {
    color: #fff;
  }

  &__preference {
    margin-top: 43px;
  }

  &__preference-item {
    padding: 105px 47px 40px 40px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    max-width: 277px;
    height: 280px;
    margin-bottom: 45px;
  }

  &__preference-info {
    font-size: 35px;
    line-height: 35px;
    color: #fff;
    font-family: "CormorantGaramond-Medium";
    src: url('../fonts/CormorantGaramond-Medium.woff2') format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  &__preference-text {
    font-size: 18px;
    line-height: 25.2px;
    color: #fff;
    margin-top: 15px;
    max-width: 179px;
  }


}
