.user-nav {
  display: flex;
  align-items: center;

  &__icon {
    width: 54px;
    height: 54px;
  }

  &__link {
    padding: 18px 38px;
    background-color: #fff;
    border-radius: 16px;
    margin-left: 24px;
    text-transform: uppercase;
  }
}

.about {

  padding-bottom: 150px;

  &__inner {
    padding: 110px 87px 63px 132px;
    margin-top: -40px;
    background-color: #f5f5f5;
    border-radius: 32px;
  }

  &__title {
    margin: 39px 0 71px;
    padding-bottom: 60px;
    font-variant: small-caps;
  }

  &__list {
    display: flex;
  }

  &__item {
    max-width: 264px;

    &:not(:last-child) {
      margin-right: 155px;
    }
  }

  &__subtitle {
    font-size: 40px;
    line-height: 60px;
    color: #3C3D3D;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    margin-bottom: 40px;
  }

  &__btn {
    color: #D0B194;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    position: relative;

    &::before {
      content: url(../img/arrow.svg);
      position: absolute;
      width: 28px;
      height: 16px;
      right: -40px;
      top: 1px;
    }

  }
}

.connect {
  padding: 150px 0 165px;

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__img {
    max-height: 832px;
    margin-left: -260px;
  }

  &__content {
    max-width: 535px;
    margin-right: 135px;
  }

  &__title {
    margin: 40px 0;
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    max-width: 478px;
    margin-bottom: 106px;
  }

  &__numbers {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 110px;
    }
  }

  &__num {
    color: #D0B194;
    font-size: 60px;
    line-height: 60px;
    font-family: "CormorantGaramond-Regular";
    src: url('../fonts/CormorantGaramond-Regular.woff2') format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  &__desc {
    font-size: 15px;
    line-height: 22px;
    color: rgba(60, 61, 61, 0.7);
    margin-top: 10px;
    margin-bottom: 112px;
  }



}
