.header {
  padding: 68px 0 105px;
  background: url(../img/bghead.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 306px; }
    @media only screen and (max-width: 1199px) {
      .header__top {
        margin-bottom: 100px; } }
    @media only screen and (max-width: 575px) {
      .header__top {
        flex-wrap: wrap; } }
    .header__top.header__top--active .menu__list {
      transform: translateY(0%); }
  .header__bottom {
    position: relative;
    z-index: 10; }
  .header__logo {
    margin-right: 119px; }
    @media only screen and (max-width: 1199px) {
      .header__logo {
        position: relative;
        z-index: 101;
        margin-right: 10px; } }
    @media only screen and (max-width: 575px) {
      .header__logo {
        margin-bottom: 20px; } }
  .header__inner {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .header__inner {
        display: block; } }
  .header__social {
    margin-bottom: 218px; }
    @media only screen and (max-width: 768px) {
      .header__social {
        display: flex;
        margin-bottom: 100px; } }
  @media only screen and (max-width: 768px) {
    .header__list {
      display: flex; } }
  .header__item:not(:last-child) {
    margin-bottom: 26px; }
    @media only screen and (max-width: 768px) {
      .header__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 15px; } }
  .header__link {
    color: #fff;
    font-size: 20px; }
    @media only screen and (max-width: 991px) {
      .header__link {
        color: #4a4a4acc; } }
  .header__info {
    max-width: 652px; }
  .header__info-text {
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px; }
    @media only screen and (max-width: 768px) {
      .header__info-text {
        color: #a05d1e; } }
  .header__info-title {
    color: #fff; }
  .header__preference {
    margin-top: 43px; }
  .header__preference-item {
    padding: 105px 47px 40px 40px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    max-width: 277px;
    height: 280px;
    margin-bottom: 45px; }
    @media only screen and (max-width: 991px) {
      .header__preference-item {
        padding: 55px 20px 40px 40px; } }
    @media only screen and (max-width: 768px) {
      .header__preference-item {
        max-width: 100%;
        height: 100%; } }
  .header__preference-info {
    font-size: 35px;
    line-height: 35px;
    color: #fff;
    font-family: "CormorantGaramond-Regular";
    src: url("../fonts/CormorantGaramond-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal; }
    @media only screen and (max-width: 991px) {
      .header__preference-info {
        color: #4a4a4acc; } }
    @media only screen and (max-width: 768px) {
      .header__preference-info {
        color: #fff; } }
  .header__preference-text {
    font-size: 18px;
    line-height: 25.2px;
    color: #fff;
    margin-top: 15px;
    max-width: 179px; }

.footer {
  color: #2F2F2F;
  background-color: #f8f8f8; }
  .footer__inner {
    padding: 114px 0 40px;
    display: flex; }
  .footer__logo {
    margin-right: 268px; }
  .footer__navs {
    display: flex;
    max-width: 554px;
    margin-right: 180px;
    border-bottom: 1px solid #C8C8C8;
    padding-bottom: 165px; }
  .footer__nav:not(:last-child) {
    margin-right: 112px; }
  .footer__title {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    margin-bottom: 24px;
    text-transform: uppercase; }
  .footer__item {
    text-transform: uppercase; }
    .footer__item:not(:last-child) {
      margin-bottom: 20px; }
  .footer__link {
    opacity: 0.7; }
  .footer__icon {
    width: 22px;
    height: 22px; }
  .footer__contact {
    width: 554px;
    padding-left: 180px;
    border-bottom: 1px solid #C8C8C8; }
  .footer__item-address {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 8px;
    opacity: 0.4; }
  .footer__item-text {
    margin-top: 10px;
    margin-bottom: 23px;
    opacity: 0.4;
    line-height: 24px; }
  .footer__social-items {
    display: flex; }
  .footer__social-item:not(:last-child) {
    margin-right: 15px; }
  .footer__bottom {
    margin-left: 402px;
    padding-bottom: 20px; }
  .footer__bottom-list {
    display: flex; }
  .footer__bottom-item:not(:last-child) {
    margin-right: 36px; }
  .footer__bottom-item:last-child {
    margin-left: 100px; }
  .footer__bottom-link {
    font-size: 15px;
    opacity: 0.4; }

.menu__list {
  display: flex;
  align-items: center;
  margin-top: 30px; }
  @media only screen and (max-width: 1199px) {
    .menu__list {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: rgba(191, 191, 191, 0.796);
      display: block;
      text-align: center;
      z-index: 10;
      transform: translateY(-200%);
      transition: all .5s;
      padding-top: 130px !important; } }
  @media only screen and (max-width: 575px) {
    .menu__list {
      padding-top: 180px !important; } }

.menu__item:not(:last-child) {
  margin-right: 40px; }
  @media only screen and (max-width: 1199px) {
    .menu__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 25px; } }

.menu__link {
  font-size: 16px;
  text-transform: uppercase; }

.user-nav {
  display: flex;
  align-items: center; }
  .user-nav__icon {
    width: 54px;
    height: 54px; }
    @media only screen and (max-width: 1199px) {
      .user-nav__icon {
        position: relative;
        z-index: 101;
        background-color: #1c1c1c;
        border-radius: 50%; } }
    @media only screen and (max-width: 575px) {
      .user-nav__icon {
        width: 34px;
        height: 34px; } }
  .user-nav__link {
    padding: 18px 38px;
    background-color: #fff;
    border-radius: 16px;
    margin-left: 24px;
    text-transform: uppercase; }
    @media only screen and (max-width: 1199px) {
      .user-nav__link {
        position: relative;
        z-index: 101; } }
    @media only screen and (max-width: 768px) {
      .user-nav__link {
        background-color: #1c1c1c;
        color: #fff; } }
    @media only screen and (max-width: 575px) {
      .user-nav__link {
        padding: 8px 18px; } }

.about {
  padding-bottom: 150px; }
  @media only screen and (max-width: 1199px) {
    .about {
      padding-bottom: 20px; } }
  .about__inner {
    padding: 110px 87px 63px 132px;
    margin-top: -40px;
    background-color: #f5f5f5;
    border-radius: 32px; }
    @media only screen and (max-width: 768px) {
      .about__inner {
        padding: 50px 47px 33px 52px; } }
    @media only screen and (max-width: 575px) {
      .about__inner {
        padding: 20px 10px 10px 10px; } }
  .about__title {
    margin: 39px 0 71px;
    padding-bottom: 60px;
    font-variant: small-caps; }
    @media only screen and (max-width: 991px) {
      .about__title {
        margin: 19px 0 31px; } }
  .about__list {
    display: flex; }
    @media only screen and (max-width: 1199px) {
      .about__list {
        flex-wrap: wrap; } }
  .about__item {
    max-width: 264px; }
    .about__item:not(:last-child) {
      margin-right: 155px; }
      @media only screen and (max-width: 1199px) {
        .about__item:not(:last-child) {
          margin-right: 50px; } }
  .about__subtitle {
    font-size: 40px;
    line-height: 60px;
    color: #3C3D3D;
    margin-bottom: 15px; }
    @media only screen and (max-width: 575px) {
      .about__subtitle {
        font-size: 20px; } }
  .about__text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    margin-bottom: 40px; }
    @media only screen and (max-width: 575px) {
      .about__text {
        font-size: 14px; } }
  .about__btn {
    color: #D0B194;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    position: relative; }
    .about__btn::before {
      content: url(../img/arrow.svg);
      position: absolute;
      width: 28px;
      height: 16px;
      right: -40px;
      top: 1px; }
    @media only screen and (max-width: 575px) {
      .about__btn {
        font-size: 15px; } }

.connect {
  padding: 150px 0 165px; }
  @media only screen and (max-width: 1199px) {
    .connect {
      padding: 70px 0 70px; } }
  .connect__inner {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 1199px) {
      .connect__inner {
        flex-direction: column; } }
  .connect__img {
    max-height: 832px;
    margin-left: -260px; }
    @media only screen and (max-width: 1199px) {
      .connect__img {
        margin-left: 0;
        max-height: 400px;
        margin-bottom: 30px; } }
  .connect__content {
    max-width: 535px;
    margin-right: 135px; }
    @media only screen and (max-width: 1199px) {
      .connect__content {
        margin-right: 0;
        max-width: 100%; } }
  .connect__title {
    margin: 40px 0; }
  .connect__text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    max-width: 478px;
    margin-bottom: 106px; }
    @media only screen and (max-width: 575px) {
      .connect__text {
        font-size: 14px;
        margin-bottom: 56px; } }
  .connect__numbers {
    display: flex; }
  .connect__item:not(:last-child) {
    margin-right: 110px; }
    @media only screen and (max-width: 575px) {
      .connect__item:not(:last-child) {
        margin-right: 30px; } }
  .connect__num {
    color: #D0B194;
    font-size: 60px;
    line-height: 60px;
    font-family: "CormorantGaramond-Regular";
    src: url("../fonts/CormorantGaramond-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal; }
    @media only screen and (max-width: 575px) {
      .connect__num {
        font-size: 40px; } }
  .connect__desc {
    font-size: 15px;
    line-height: 22px;
    color: rgba(60, 61, 61, 0.7);
    margin-top: 10px;
    margin-bottom: 112px; }

.review {
  padding: 165px 0 446px; }
  @media only screen and (max-width: 1199px) {
    .review {
      padding: 70px 0 70px; } }
  .review__item {
    display: flex !important;
    justify-content: space-between; }
    @media only screen and (max-width: 991px) {
      .review__item {
        flex-direction: column; } }
  .review__content {
    max-width: 600px; }
  .review__title {
    line-height: 66px;
    margin: 35px 0 62px; }
    @media only screen and (max-width: 768px) {
      .review__title {
        line-height: 40px; } }
  .review__author {
    color: rgba(60, 61, 61, 0.7);
    font-size: 18px;
    line-height: 27px;
    margin-left: 100px; }
  .review__img {
    max-height: 634px; }
    @media only screen and (max-width: 1199px) {
      .review__img {
        max-width: 400px; } }

.btn {
  color: #D0B194;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  position: relative; }
  .btn::before {
    content: url(../img/arrow.svg);
    position: absolute;
    width: 28px;
    height: 16px;
    right: -40px;
    top: 1px; }

/*# sourceMappingURL=main.css.map */
