<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="footer__logo logo" href="#">
        <img class="logo__img" src="../img/logo.png" alt="логотип">
      </a>
      <div class="footer__nav">
        <div class="footer__title">
          Services
        </div>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              About us
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Return Policy
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Our Blog
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Contact Us
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Terms & Condition
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__nav">
        <div class="footer__title">
          Services
        </div>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              About us
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Return Policy
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Our Blog
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Contact Us
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Terms & Condition
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__contact">

        <address class="footer__address">
          <p class="footer__item-text">Address:</p>
          <a class="footer__item-address" href="#">
            9283 Wines Lane
            Houston, TX 24783
          </a>
          <p class="footer__item-text">Telephone:</p>
          <a class="footer__item-address" href="tel:+8323475843">
            +333-317-5123
          </a>
          <p class="footer__item-text">Email:</p>
          <a class="footer__item-address" href="mailto:contact@Glee.com">
            contact@bassboost.com
          </a>
        </address>
        <div class="footer__social">
          <h4 class="footer__title">
            Мы в соцсетях
          </h4>
          <ul class="footer__social-items">
            <li class="footer__social-item"><a href="" class="footer__social-link"></a><a href=""
                class="footer__social-link"></a><a href="" class="footer__social-link"></a><a href=""
                class="footer__social-link"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
